---
---

// todo: add mixins for transitions

@import 'variables';
@import 'globals.css';

/*
Keeping a separate scss file for each _includes file
*/

@import 'notice.css';
@import 'nav.css';
@import 'footer.css';
@import 'page-intro.css'; // for all intro files
@import 'markdown.css';

@import 'index-header.css';
@import 'index-intro.css';

@import 'about-member-list.css';
@import 'about-history-timeline.css';
@import 'about-org.css';

@import 'projects-project-list.css';
@import 'projects-methodology.css';

@import 'project-page.css';

@import 'campus-initiatives.css';

@import 'contact-form.css';