---
---

@import 'variables';

#application-process {
	padding-bottom: 50px;

	img {
		display: block;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.button {
		font-size: 1.5em;
		padding: 20px 40px;
	}
}

@media screen and (max-width: 900px) {
	img {
		width: 100%;
	}
}