---
---

@import 'variables';

footer {

	#footer-content {
		padding: 5vh 10vw;
		background: $light-teal;
		display: flex;
		p {
			color: white;
			line-height: 30px;
		}
		img { // logo
			width: 50px;
		}
		ul {
			color: white;
			list-style: none;
			padding: 0;
			li {
				margin: 20px 0;
			}
		}
		small {
			text-transform: uppercase;
			color: $border-grey;
		}
		#club-info {
			flex: 3 0 0;
		}
		#page-list {
			flex: 1 0 0;
			a:before {
				content: '>>';
				font-size: 0.5em;
				margin-right: 5px;
			}
		}
		#contact-details {
			flex: 1 0 0;
		}
	}

	#bottom-bar {
		background: $dark-teal;
		height: 30px;
	}
}

@media screen and (max-width: 900px) {
	#footer-content {
		display: block !important;
		div {
			display: block;
			min-width: auto;
			width: 100%;
			margin: 50px 0;
			li {
				margin: 10px 0 !important;
			}
		}
	}
}