---
---

@import 'variables';

#index-header {
	color: white;
	padding: 10vh 5vw 25vh 5vw;
	min-height: 400px;
	margin-bottom: 10vh;
	
	background-color:$light-teal;
	background-image: url({{ site.baseurl }}/img/home/pathfinding.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 90%;

	header {
		width: 60vw;
		h1 {
			font-size: 3em;
			padding-bottom: 5vh;
			text-transform: uppercase;
		}
	}
}

@media screen and (max-width: 900px) {
	#index-header {
		padding: 5vh 5vw;
		margin-bottom: 50px;
		min-height: 300px;
	}
}