---
---

@import 'variables';

.project-page-intro {

	small {
		color: $text-grey;
	}

	#page-intro-left {
		display: flex;

		.img-container {
			flex: 1 0 0;
			min-width: 250px;
			img {
				width: 200px;
			}
		}

		.project-intro {
			flex: 2 0 0;
		}
	}
}

.project-content {
	margin: 5vh 8vw 10vh 8vw;

	h3 {
		margin-top: 50px;
	}

	p {
		line-height: 2em;
		margin-bottom: 50px;
	}

	ul {
		color: $text-grey;
		li {
			margin: 20px 0;
			line-height: 2em;
		}
		em {
			display: block;
			color: black;
		}
	}
}

@media screen and (max-width: 900px) {
	.project-page-intro {
		.page-intro-col {
			display: block !important;
		}
	}

	.project-content {
		margin: 0;
		padding: 50px;
	}
}