<footer>
	<div id="footer-content">
		<div id="club-info">
			<a class="logo" href="{{ site.baseurl }}/">
				<img src="{{ site.baseurl }}/img/logo_white.png">
			</a>
			<p> 
				Carnegie Mellon University </br>
				Undergraduate Consulting Club </br>
				Ⓒ 2018 UCC </br>
			</p>
		</div>
		<div id="page-list">
			<small>Explore.</small>
			{% include nav_links.html %}
		</div>
		<div id="contact-details">
			<small>Connect.</small>
			<ul>
				<li>
					<i class="fas fa-envelope"></i> cmuucc@gmail.com
				</li>
				<li>
					<a href=""><i class="fab fa-facebook"></i> /cmuucc/</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="bottom-bar"></div>
</footer>

