<section id="consulting-academy" class="centered-section org-description">
	<img src="{{ site.baseurl }}/img/ca_logo.png" alt="Consulting Academy Logo" class="org-logo">
	<h2>
		<span class="teal-underlined">
			Consulting Academy
		</span>
	</h2>
	<div id="ca-intro">
		<h3>
			Consulting Academy is UCC's child organization that participates in events hosted by UCC.
		</h3>
		<p>
			<b>
				UCC makes a commitment to host a Consulting Academy event every month. 
			</b>
				Event topics can range from company information sessions and guest speakers to internship panels and case workshops. Events are designed to allow students who are interested in consulting but are not yet ready to commit to UCC. Attendees of Consulting Academy are first to be considered when applying for UCC.
		</p>
		<p>
			Consulting Academy serves as a "preview" of what UCC is like, and covers similar internal development topics. Below are some examples of past workshop topics:
		</p>
	</div>
	<div id="ca-workshops">
		<div>
			<img src="{{ site.baseurl }}/img/campus/consulting.png" />
			<h4>What is Consulting?</h4>
			<p>
				Get an overview of the industry, and gain an understanding of the skill set required to succeed. You'll be exposed to the different areas of consulting, and be able to understand how consulting companies operate.
			</p>
		</div>
		<div>
			<img src="{{ site.baseurl }}/img/campus/networking.png" />
			<h4>Company Networking</h4>
			<p>
				UCC will often host Consulting Academy events with companies that recruit from CMU. Come meet representatives from various companies and learn how they operate.
			</p>
		</div>
		<div>
			<img src="{{ site.baseurl }}/img/campus/panel.png" />
			<h4>Internship Panels</h4>
			<p>
				Think more specifically about how to succeed during your upcoming internship at different companies and learn from an experienced panel of past interns.
			</p>
		</div>
		<div>
			<img src="{{ site.baseurl }}/img/campus/tips.png" />
			<h4>Case Interview Tips</h4>
			<p>
				Case interviews are very different from other types of interviews, and even differ for each company. Learn the different interview styles and get a head start in preparing for your next interview.
			</p>
		</div>
	</div>
	<p><i>* Note: The CA workshop topics will most likely change throughout the year.</i></p>
</section>