---
new_page_extension: md
auto_deploy: false
admin_path: "/admin"
webhook_url: 
sections:
- type: document
  path: _data/member_list.yaml
  label: Members
- type: directory
  path: _projects
  label: Projects
  create: all
  match: "**/*"
- type: document
  path: _data/project_methodology.yaml
  label: Project Methodology
- type: directory
  path: _initiatives
  label: Initiatives
  create: all
  match: "**/*"
- type: document
  path: _includes/campus/consulting-academy.html
  label: About Consulting Academy
upload_dir: img
public_path: "/img"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
instant_preview: true
build:
  preview_command: bundle exec jekyll build --drafts --unpublished --future -d _site
  publish_command: bundle exec jekyll build -d _site
  preview_env:
  - JEKYLL_ENV=staging
  publish_env:
  - JEKYLL_ENV=production
  preview_output_directory: _site
  output_directory: _site
  instant_preview_command: bundle exec jekyll serve --drafts --unpublished --future
    --port 8080 --host 0.0.0.0 -d _site
  install_dependencies_command: bundle install --path vendor/bundle
  preview_docker_image: forestryio/ruby:2.6
  mount_path: "/srv"
  working_dir: "/srv"
